#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
[Bb]in
.svn*/
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
packages/
.vs*/
.vs/
node_modules/
Console/
api/logs/
api/Files/
api/files/
/.vs
[Ff]iles/DealDocuments*/
[Ff]iles/EntityLogo*/
[Ff]iles/FundDocuments*/
[Ff]iles/InvestorDocuments*/
[Ff]iles/[Ll]ogin*/
[Ff]iles/[Tt]emp*/
[Ff]iles/FundActivityDocuments*/
_ReSharper*/
[Tt]est[Rr]esult*
_vti_cnf
.DS_Store
*.testsettings
*.vsmdi
/Files/UnderlyingFundDocuments/2/3532
/Files/UnderlyingFundDocuments/2/3550
/Files/UnderlyingFundDocuments/2/3737
/Files/UnderlyingFundDocuments/2/4302
/Files
/App_Data/clientsecret.json
/App_Data/jobs/triggered/Slack/Slack
/.vs/Pepper/config/applicationhost.config
/.vs/Pepper/project-colors.json
/.vs/Pepper/v17/fileList.bin
/.vs/config/applicationhost.config
/Controllers/EntityModelData/EntityModelDataRepository.cs
